body {
  background-color: grey;
}
#title {
  color: red;
  font-size: 200%;
  text-align: center;
  margin-bottom: 10px;
}
#content {

}
#description {
  text-align: center;
  margin-left: 18%;
  margin-right: 18%;
  margin-bottom: 20x;
}
#numteams {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
#drop1 {

}
#teamnames {
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 25%;
}
#team1, #team2, #team3, #team4, #team5, #team6 {
  margin-right: 20px;
  margin-left: 5px;
  margin-bottom: 10px;
}
#numplayers {
  text-align: center;
  margin-bottom: 10px;
}
#drop2 {

}
#createteams {
  text-align: center;
  margin-bottom: 10px;
}
#drop3 {

}
#roundtrans {
  text-align: center;
  margin-bottom: 10px;
}
#drop4 {

}
#version {
  text-align: center;
  margin-bottom: 10px;
}
#drop5 {

}
#example {
  text-align: center;
  padding: 5px;
}
#example_title {
  text-align: center;
  font-size: 125%;
  margin-bottom: 10px;
}
#next {
  text-align: center;
}
#draftpage {

}