.App {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/19/1b/6d/191b6d669f008bfaf3950dd3e71ec2ca.jpg");
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 10vh;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.draft-Body {
  max-height: 90vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content:center;
  opacity:0.95;
}

.App-link {
  color: #09d3ac;
}
.results {
  margin-bottom: 15px;
}
.Player-Boxes {
  display: flex;
  flex-direction: row;
  justify-content: left;
  min-height: 125px;
}
.MuiCard-root {
  margin-top: 5px;
  margin-right: 10px;
  min-width: 150px;
}
.MuiPaper-root {
  color:#fff;
  background-color: #1F1B24;
}